@media screen and (max-width: 425px) {
  .sm-text-2xl {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .md-w-mid {
    width: 50%;
  }
  .md-h-80 {
    height: 31.5rem;
  }
  .md-text-4xl {
    font-size: 2.25rem;
  }

  .md-ml-52 {
    margin-left: -13rem;
  }

  .md-mt-14 {
    margin-top: -3.5rem;
  }

  .md-text-3xl {
    font-size: 1.875rem;
  }

  .md-ml-28 {
    margin-left: 7rem;
  }

  .md-pl-40 {
    padding-left: 10rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .md-w-30 {
    width: 30%;
  }
}
